* {
  margin: 0 auto;
  padding: 0;
     font-family: 'MonotypeCorsiva';

}

body{
   
     font-family: 'MonotypeCorsiva';
}
@font-face {
    font-family: 'MonotypeCorsiva';
    src: url('fonts/MonotypeCorsiva.eot');
    src: url('fonts/MonotypeCorsiva.eot') format('embedded-opentype'),
         url('fonts/MonotypeCorsiva.woff2') format('woff2'),
         url('fonts/MonotypeCorsiva.woff') format('woff'),
         url('fonts/MonotypeCorsiva.ttf') format('truetype'),
         url('fonts/MonotypeCorsiva.svg#MonotypeCorsiva') format('svg');
}

.main {
/*  background-image: url("../image/bg-new1.png");*/
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  padding-top: 8%;
}

.header {
  /* background-image: url(../image/header3.jpg)
   background-repeat: no-repeat;
   background-position-x: center;
   background-size: 100%;;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h1 {
    font-family: 'MonotypeCorsiva';
  font-size: 80px;
  font-weight: bold;
}

.costum-menu {
  font-size: 40px;
  align-self: flex-end;
}

.costum-menu > .menu > li > a {
  color: #b16316;
  !important
}

.costum-menu > .menu > li > a:hover {
  color: #fff;
}

.startButtonDiv {
  width: 194px;
  height: 90px;
}
.costume-button {
 padding-top: 26px;
    width: 194px;
    height: 108px;
    background-image: url(../image/bg-button.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    font-size: 41px;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin: 0 auto;
}
#show-interpretation{
 
}

/*aside article*/
.right-part {
  padding: 12px 5px;
}

.left-part {
  display: flex;
  flex-direction: column;
}

.cardsProperties {
  width: 160px;
  height: 248px;
  border: 3px solid #e2cd8e;
}

.div-for-image {
  width: 200px;
  height: 348px;
}

.hiddenClass {
  visibility: hidden;
}

#mainCardImageDiv {
  width: 260px;
  height: 362px;
}
.cardIMG{

        height: 700px;
    width: 100%;
    display: flex;
    position: relative
}


#chooseCard {
  padding: 85px;
}

#descriptionText {
  height: 130px;
  justify-content: center;
  padding-top: 25px;
  font-size: 30px;
}

/* for del*/
.firstCardsRow {
  /*position: absolute;*/
  top: 25px;
}

.secondCardsRow {
  top: 75px; 
}

.thirdCardsRow {
  position: absolute;
  top: 135px;
  z-index: 1;
}

.firstClassRow, .secondClassRow {
  height: 500px;
  padding: 25px;
}

.top {
  position: absolute;
  top: 25px;
  z-index: 1;
}
.topSecondRow {
  position: absolute;
  top: 315px;
  z-index: 1;
}

#l1,#ls1 {
  left: 5%;
}

#l2,#ls2 {
  left: 8%;
}

#l3,#ls3 {
  left: 11%;
}

#l4,#ls4 {
  left: 14%;
}

#l5,#ls5 {
  left: 17%;
}

#l6,#ls6 {
  left: 20%;
}

#l7,#ls7 {
  left: 23%;
}

#l8,#ls8 {
  left: 26%;
}
#l9,#ls9 {
  left: 29%;
}

#l10,#ls10 {
  left: 32%;
}

#l11,#ls11 {
  left: 35%;
}

#l12,#ls12 {
  left: 38%;
}

#l13,#ls13 {
  left: 41%;
}

#l14,#ls14 {
  left: 44%;
}

#l15,#ls15 {
  left: 47%;
}

#l16,#ls16 {
  left: 50%;
}
#l17,#ls17 {
  left: 53%;
}

#l18,#ls18 {
  left: 57%;
}

img.top, img.topSecondRow{
	transition: all .3s ease;
}
img.top:hover {
    top: 10px;
  border: 3px solid aliceblue;
}
img.topSecondRow:hover {
    top: 300px;
  border: 3px solid aliceblue;
}
.font-class {

  color: #b16316;
  text-align: center
}

.font-class > h2, .instruction > h2 {

  font-size: 70px;
}

.font-class > p {
  font-size: 30px;
  justify-content: center;
}

.footer {
  align-items: center;
  padding-bottom : 150px;
}
.image-proporty{
  width: 200px;

}