<div class="row cardIMG"  id="wrapper">
    <div class="medium-6 columns delborder cardsContent">
        <div class="firstCardsRow">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l1">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l2">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l3">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l4">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l5">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l6">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l7">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l8">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l9">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l10">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l11">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l12">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l13">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l14">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l15">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l16">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l17">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top hidev" id="l18">
        </div>
        <div class="secondCardsRow">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls1">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls2">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls3">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls4">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls5">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls6">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls7">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls8">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls9">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls10">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls11">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls12">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls13">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls14">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls15">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls16">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls17">
            <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow hidev" id="ls18">
        </div>
    </div>
    <div class="delborder medium-6 columns">
        <div id="chooseCard">
            <div class="" id="test1">
                <!-- <div class="div-for-image" id="test1"></div> -->
                <img ng-src="{{myImgUrl1}}" class="cardsProperties" id="test1i" />
            </div>
            <div class="" id="test2">
                <img ng-src="{{myImgUrl2}}" class="cardsProperties" id="test2i" />
            </div>
            <div class="" id="test3">
                <img ng-src="{{myImgUrl3}}" class="cardsProperties" id="test3i" />
            </div>
        </div>
        <div class="row font-class" id="descriptionText">
            {{pressitionText}}
        </div>

        <div class="show-interpretation" id="show-interpretation" ng-click="costumChose()">
            <div class="costume-button font-class"> Show </div>
        </div>
    </div>
</div>
    <div class="row">
        <img src="image/line.png" alt="line">
    </div>



