<div id="wrapper">
    <div class="row cardIMG">
        <div class="cardsContent">
                <div class="firstCardsRow" >
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l1">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l2">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l3">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l4">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l5">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l6">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l7">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l8">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l9">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l10">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l11">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l12">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l13">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l14">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l15">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l16">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l17">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties top" id="l18">
                </div>
                <div class="secondCardsRow" >
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls1">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls2">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls3">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls4">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls5">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls6">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls7">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls8">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls9">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls10">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls11">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls12">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls13">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls14">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls15">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls16">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls17">
                    <img src="image/card/imgbg.png" alt="korol1" class="cardsProperties topSecondRow" id="ls18">
                </div>
                <div class="show-interpretation" id="show-interpretation" ng-click="costumChose()">
                    <div class="costume-button font-class"> Show </div>
                </div>
            </div>
    </div>
    <div class="row">
        <img src="image/line.png" alt="line">
    </div>
    <div class="row" id="chooseCard">
        <div class="small-1 medium-4 large-4 columns">
            <!-- <div class="div-for-image" id="test1"></div> -->
            <img ng-src="{{myImgUrl1}}"  />
        </div>
        <div class="small-1 medium-4 large-4 columns">
            <img ng-src="{{myImgUrl2}}"  />
        </div>
        <div class="small-1 medium-4 large-4 columns">
            <img ng-src="{{myImgUrl3}}"  />
        </div>
    </div>
    <div class="row font-class" id="descriptionText">
        {{pressitionText}}
    </div>
    <div class="row">
        <img src="image/line.png" alt="line">
    </div>
</div>

